// Colors
$primary: #FF4B81;
$theme-colors: (
  "black": #000
);

// Typography
$font-family-sans-serif: "Sofia Pro", -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;