.icon {
  width: 1em;
  height: 1em;

  &--2x {
    width: 2em;
    height: 2em;
  }

  &--3x {
    width: 3em;
    height: 3em;
  }

  &--styled-light,
  &--styled-dark {
    padding: 0.3em;
    border-radius: $border-radius;
  }

  &--styled-light {
    color: $primary;
    background: $white;
  }

  &--styled-dark {
    background: $gray-900;
    color: $white;
  }
}