// Colors
$theme-colors: (
  "black": #000,
  "supernova": #FF4B81
);

// Typography
$font-family-sans-serif: "Sofia Pro", -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

// Card
$card-border-radius: 0;
