//Colors
$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

//Typography
$font-family-sans-serif: "Sofia Pro", -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;