//Vars
$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

// Bootstrap modules
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

//Custom styles

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: $white;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

.icon {
  width: 1em;
  height: 1em;
}

#showcase {
  position: relative;
  background: url('../img/project-2/mountains.jpg');
  min-height: 600px;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px $white solid;
}

#authors {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary;
    color: $white;
  }

  .fab {
    color: $white;
  }
}

@include media-breakpoint-down(md) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}